{:lint-as
 {mal.util.malli/defn schema.core/defn
  #_#_mal.util.malli.fn/fn     schema.core/fn
  #_#_mal.util.malli/defmethod schema.core/defmethod
  #_#_mal.util.malli/defn      schema.core/defn
  #_#_mal.util.malli/fn        schema.core/fn}
 }
